@import url('https://fonts.googleapis.com/css2?family=Asset&family=Astloch:wght@400;700&family=Autour+One&family=Bitcount+Single:wght@100..900&family=Black+Ops+One&family=Cinzel:wght@400..900&family=Gravitas+One&family=Henny+Penny&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jim+Nightshade&family=Matemasie&family=Montenegrin+Gothic+One&family=Orbitron:wght@400..900&family=Playwrite+ID:wght@100..400&family=Rock+3D&family=Rubik+Distressed&family=Rubik+Iso&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Yuyu+Short&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
--gray: rgb(128, 128, 128);
--gray-hover: rgb(44, 53, 71);
--b-right: 1px solid rgba(255, 255, 255, 0.24);
}

.boss {
width: 100%;
height: 100vh;
}

.header {
width: 100%;
height: 10%;
background-color: rgb(31, 38, 46);
display: flex;
}

.logo_div {
width: 150px;
height: 100%;
display: flex;
align-items: center;
border-right: var(--b-right);
}

.lg_a {
display: flex;
justify-content: center;
}

.logo {
width: 60%;
height: 60%;
transition: 0.3s;
}

.logo:hover {
transform: scale(1.05);
}

.analysis_share_div {
width: 600px;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 20px;
border-right: var(--b-right);
}

.analysis_div {
width: 70%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.back_arrow_div {
width: 35px;
aspect-ratio: 1/1;
background-color: var(--gray);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.6s;
}

.back_arrow_div:hover {
background-color: var(--gray-hover);
transform: rotate(-360deg) scale(1.05);
}

.analysis_text_div {
width: 180px;
height: 30px;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
}

.share_div {
width: 100px;
height: 35px;
background-color: var(--gray);
border-radius: 20px;
color: white;
display: flex;
justify-content: center;
align-items: center;
user-select: none;
cursor: pointer;
transition: 0.3s;
}

.share_div:hover {
background-color: var(--gray-hover);
transform: scale(1.04);
}

.share_svg_div {
width: 21px;
aspect-ratio: 1/1;
margin-left: 2px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s;
}

.share_div:hover .share_svg_div {
transform: rotate(90deg);
}

.not_acc_div {
width: 350px;
height: 100%;
border-right: var(--b-right);
display: flex;
align-items: center;
padding-left: 15px;
}

.notif_div {
width: 40px;
aspect-ratio: 1/1;
background-color: var(--gray);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.3s;
}

.notif_div:hover {
background-color: var(--gray-hover);
}

.account_div {
width: 250px;
height: 100%;
display: flex;
align-items: center;
padding-left: 10px;
gap: 10px;
}

.account_avatar {
width: 40px;
aspect-ratio: 1/1;
border-radius: 50%;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

.avatar {
width: 100%;
height: 100%;
}

.account_name {
width: auto;
max-width: 185px;
height: 70%;
display: flex;
flex-direction: column;
justify-content: center;
font-weight: 800;
color: white;
}

.mail {
font-weight: 400;
}

.nasa_ai {
width: 35px;
aspect-ratio: 1/1;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border: 2px dotted white;
transition: 2s;
}

.nasa_ai:hover {
transform: rotate(360deg) scale(1.04);
border-color: red;
}

.page_avatar {
width: 100%;
height: 100%;
border-radius: 50%;
transition: 2s;
}

.nasa_ai:hover .page_avatar {
transform: rotate(-360deg);
}

.ai_header_div {
width: 30%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 20px;
padding-right: 10px;
}

.ai_header_left_div {
width: 100px;
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
}

.ai_header_name {
width: 70px;
height: 20px;
color: white;
font-weight: 800;
font-size: 1.2rem;
display: flex;
justify-content: space-between;
align-items: center;
user-select: none;
}

.ai {
font-weight: 200;
}

.ai_menu_logo_div {
width: 25px;
aspect-ratio: 1/1;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.ai_header_right_div {
width: 80px;
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
}

.ai_header_plus_div {
width: 30px;
aspect-ratio: 1/1;
background-color: transparent;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 1.3rem;
font-weight: 800;
cursor: pointer;
transition: 0.3s;
user-select: none;
}

.ai_header_plus_div:hover {
transform: rotate(45deg);
background-color: rgba(255, 255, 255, 0.255);
}

.ai_header_close_div {
width: 40px;
aspect-ratio: 1/1;
background-color: rgb(48, 52, 61);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 1.8rem;
font-weight: 800;
cursor: pointer;
transition: 0.3s;
transform: rotate(45deg);
user-select: none;
}

.ai_header_close_div:hover {
transform: rotate(135deg);
background-color: rgb(30, 33, 40);
}

.menu {
width: 100%;
height: 90%;
display: flex;
}

.left_menu {
width: 70%;
height: 100%;
background-color: rgb(19, 22, 27);
position: relative;
}

.l_menu_info {
width: 100%;
height: 10%;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 20px;
}

.overview_div {
width: 100px;
aspect-ratio: 3/1;
border-radius: 18px;
border: 1px solid white;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.9rem;
user-select: none;
cursor: pointer;
transition: 0.3s;
position: relative;
}

.overview_div::after {
content: "+";
width: 25px;
aspect-ratio: 1/1;
position: absolute;
right: -26px;
color: white;
display: flex;
justify-content: center;
align-items: center;
transition: 0.3s;
font-weight: 800;
font-size: 1.4rem;
}

.overview_div:hover {
transform: scale(1.04);
}

.overview_div:hover::after {
transform: rotate(45deg);
}

.search_div {
width: 250px;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.search_small {
width: 90%;
height: 65%;
position: relative;
}

.search_svg_div {
width: 20px;
height: 20px;
position: absolute;
left: 5px;
top: 30%;
}

.search {
width: 100%;
height: 100%;
border-radius: 25px;
border: 1px solid white;
outline: none;
padding-left: 28px;
background-color: transparent;
color: white;
}

.search::placeholder {
color: white;
}

.settings_widgets_div {
width: 200px;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.settings_div {
width: 35px;
aspect-ratio: 1/1;
border-radius: 50%;
background-color: var(--gray);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.3s;
}

.settings_svg {
transition: 0.4s ease-out;
}

.settings_div:hover {
background-color: var(--gray-hover);
}

.settings_div:hover .settings_svg {
transform: rotate(90deg);
}

.widgets_div {
width: 95px;
height: 30px;
background-color: transparent;
border: 1px solid white;
border-radius: 20px;
padding-left: 3px;
display: flex;
align-items: center;
color: white;
user-select: none;
cursor: pointer;
transition: 0.3s;
}

.widgets_div:hover {
background-color: rgba(255, 255, 255, 0.266);
}

.widget_counter_div {
aspect-ratio: 1/1;
height: 85%;
background-color: white;
border-radius: 50%;
margin-right: 3px;
color: black;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
}

.left_big_info {
width: 100%;
height: 90%;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
padding-top: 10px;
}

.map_div {
width: 98%;
height: 90%;
background-color: yellow;
position: absolute;
border-radius: 0px 20px 20px 0px;
}

.first_row {
width: 70%;
height: 120px;
display: flex;
justify-content: space-around;
}

.comments_div {
width: 220px;
height: 100%;
background-color: rgb(19, 22, 27);
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: space-around;
color: white;
padding-left: 10px;
position: relative;
user-select: none;
}

.custom_div {
width: 30px;
aspect-ratio: 1/1;
border-radius: 50%;
background-color: transparent;
border: 1px solid white;
position: absolute;
right: 15px;
top: 15px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: 0.3s;
}

.custom_div:hover {
background-color: rgba(255, 255, 255, 0.282);
}

.number {
font-size: 1.8rem;
}

.com_with_emote {
width: 220px;
height: 100%;
background-color: rgb(19, 22, 27);
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: space-around;
color: white;
padding-left: 10px;
position: relative;
user-select: none;
}

.top_age_div {
width: 220px;
height: 100%;
background-color: rgb(19, 22, 27);
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: space-around;
color: white;
padding-left: 10px;
position: relative;
user-select: none;
}

.second_row {
width: 70%;
height: 280px;
display: flex;
justify-content: space-around;
}

.driver_div {
width: 350px;
height: 100%;
background-color: rgb(19, 22, 27);
border-radius: 15px;
position: relative;
color: white;
padding: 15px 15px 15px 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.com_by_age {
width: 350px;
height: 100%;
background-color: rgb(19, 22, 27);
border-radius: 15px;
position: relative;
color: white;
padding: 15px 15px 15px 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.driver_graph_div {
width: 100%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
}

.polar_chart {
width: 80%;
height: 75%;
}

.radar_chart {
width: 100%;
height: 100%;
}

.right_menu {
width: 30%;
height: 100%;
background-color: rgb(31, 38, 46);
}

.ai_chat_div {
width: 100%;
height: 90%;
border-left: var(--b-right);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.chat_svg_div {
width: 70px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

.ai_chat_hello_div {
width: 300px;
height: 40px;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.3rem;
user-select: none;
}

.ai_chat_input_div_big {
width: 100%;
height: 10%;
display: flex;
justify-content: center;
align-items: center;
}

.ai_chat_input_div {
width: 70%;
height: 70%;
position: relative;
}

.ai_chat_add {
width: 140px;
height: 160px;
background-color: rgba(21, 22, 27, 0.8);
position: absolute;
border-radius: 10px;
transition: 0.6s;
transform: translateY(-96px);
opacity: 0;
}

.ai_chat_add_photos {
width: 100%;
height: 40px;
background-color: transparent;
border-radius: 10px 10px 0px 0px;
cursor: pointer;
display: flex;
align-items: center;
transition: 0.3s;
border: 1px solid rgba(255, 255, 255, 0.17);
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-size: 0.9rem;
user-select: none;
color: #fff;
}

.ai_chat_add_photos:hover {
background-color: rgba(31, 44, 85, 0.651);
}

.ai_chat_add_logo {
width: 30px;
aspect-ratio: 1/1;
display: flex;
justify-content: center;
align-items: center;
}

.ai_chat_add_camera {
width: 100%;
height: 40px;
background-color: transparent;
cursor: pointer;
display: flex;
align-items: center;
transition: 0.3s;
border: 1px solid rgba(255, 255, 255, 0.17);
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-size: 0.9rem;
user-select: none;
color: #fff;
}

.ai_chat_add_camera:hover {
background-color: rgba(31, 44, 85, 0.651);
}

.ai_chat_add_files {
width: 100%;
height: 40px;
background-color: transparent;
cursor: pointer;
display: flex;
align-items: center;
transition: 0.3s;
border: 1px solid rgba(255, 255, 255, 0.17);
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-size: 0.9rem;
user-select: none;
color: #fff;
}

.ai_chat_add_files:hover {
background-color: rgba(31, 44, 85, 0.651);
}

.ai_chat_add_make_images {
width: 100%;
height: 40px;
background-color: transparent;
border-radius: 0px 0px 10px 10px;
cursor: pointer;
display: flex;
align-items: center;
transition: 0.3s;
border: 1px solid rgba(255, 255, 255, 0.17);
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-size: 0.9rem;
user-select: none;
color: #fff;
}

.ai_chat_add_make_images:hover {
background-color: rgba(31, 44, 85, 0.651);
}

.ai_chat_add_div {
width: 35px;
aspect-ratio: 1/1;
border-radius: 50%;
background-color: #27262c;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
left: 8px;
top: 10px;
cursor: pointer;
color: white;
font-size: 1.2rem;
font-weight: 800;
user-select: none;
transition: 0.3s;
}

.ai_chat_add_div:hover {
transform: rotate(45deg);
}

.ai_chat_input_div:has(.ai_chat_add_div:hover) .ai_chat_add {
transform: translateY(-160px);
opacity: 1;
}

.ai_chat_input {
width: 100%;
height: 100%;
border-radius: 20px;
background-color: rgb(21, 22, 27);
color: #ffffff;
border: none;
outline: none;
padding-left: 50px;
}

.ai_chat_input::placeholder {
color: #ffffff;
}

.ai_chat_send_div {
width: 35px;
aspect-ratio: 1/1;
border-radius: 50%;
border: 1px solid #5553cb;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right: 8px;
top: 10px;
cursor: pointer;
}
